# SQL Alchemy demo

In [1]:
# dependencies
import pandas as pd
from pathlib import Path
from sqlalchemy import create_engine

In [2]:
# file locations
boranPath = Path("../resources/boran.csv")
radanPath = Path("../resources/radan.csv")
deidentifyPath = Path("../resources/deidentify_list_cross_ref.csv")

### Creating a database
This is how to create a database and connect to it. `create_engine()` will make the database if it does not exist or it can also be used to connect to pre-existing databases. To connect to the database simply call the `.connect()` method.

To see the communication between this notebook and the database, you can change `echo=Flase` to `echo=True`. It's great for troubleshooting, but pretty cluttered. I always leave it on while I'm writing the code and then turn it off once I know it works.

In [3]:
# connect to database
engine = create_engine('sqlite:///../database/PlanetMedicalTest.db', echo=False)
conn = engine.connect()

In [4]:
# read in data
boran_df = pd.read_csv(boranPath)
radan_df = pd.read_csv(radanPath)
deidentify_df = pd.read_csv(deidentifyPath)

### A note on Pandas and SQLite

Pandas will automatically define the schema, but its default settings lead to bloated databases. It uses BIGINT for binary columns, and you can't specify which attributes are primary or foreign keys. You actually can't specify anything at all about the schema when you use `pd.DataFrame.to_sql()`. The upside is, it is super easy and quick.

Most SQL servers would allow you to modify the schema after creating the tables and inserting data into them. Unfortunately SQLite is one of the types of SQL that won't allow you to do so. It's not an issue for this application, but if it were an issue, I really like PostgreSQL. It's free, feature rich and reliable. And it has DBMS software program called pgadmin that has a friendly GUI.

The work-around for SQLite would be to execute raw SQL to create the schema explicitly, then have a loop that goes through all the rows of the data frames to insert the data into their respective tables. I chose to use the `pd.DataFrame.to_sql()` here because it's so convenient. For the assignment, I actually ended up using the SQLite DB Browser GUI to modify the schema and define primary keys just for convenience's sake.

### Importing data into a SQL server
It's really easy to import a dataframe to a SQL database. Just use `.to_sql()` on any pandas.DataFrame.

In [5]:
# Write data to SQL
boran_df.to_sql("boran", conn, if_exists='replace')
radan_df.to_sql("radan", conn, if_exists='replace')
deidentify_df.to_sql("deidentify", conn, if_exists='replace')
print("Database successfully created")

Database successfully created

### Raw SQL commands
You can run any valid raw SQL command that you want using SQL Alchemy. For tidiness' sake, I like to save the commands as their own variables. For complex/dynamic SQL commands, I like to make functions that return the SQL command text when called.

In [6]:
# These are the SQL commands I'd like to execute to create the full table of data
drop_if_exists = "DROP TABLE IF EXISTS full_data;"

create_table = """CREATE TABLE full_data(
    patient_id INTEGER PRIMARY KEY
    , age FLOAT
    , blood_pressure FLOAT
    , exercise FLOAT
    , weight FLOAT
    , glucose FLOAT
    , BMI FLOAT
    , planet_id INTEGER
);"""

populate_table = """INSERT INTO full_data
SELECT d.patient_id, d.age, b.blood_pressure, b.exercise, b.weight, b.glucose, b.bmi, b.planet_id
FROM deidentify as d
JOIN boran as b
ON d.patient_id = b.patient_id
UNION
SELECT d.patient_id, d.age, r.blood_pressure, r.exercise, r.weight, r.glucose, r.bmi, r.planet_id
FROM deidentify as d
JOIN radan as r
ON d.patient_id = r.patient_id;"""

In [7]:
# Running raw SQL code is this simple
conn.execute(drop_if_exists)
conn.execute(create_table)
conn.execute(populate_table)

### Getting the data into pandas

In [8]:
# This is how we can read data into Pandas directly from a SQL server
df = pd.read_sql_table('full_data', conn)
df.head()

,patient_id,age,blood_pressure,exercise,weight,glucose,BMI,planet_id
0,5231,75.254768,194.639537,45.811801,145.294390,122.231550,1.005604,1
1,5502,78.425828,102.743158,43.031599,81.072209,77.593129,0.984347,2
2,8248,74.242965,189.628666,90.167716,139.689556,118.206986,0.972132,1
3,8495,79.982882,101.532439,84.264034,77.931413,75.550277,0.963410,2
4,8499,85.809577,104.635367,75.525589,82.481703,79.318150,1.021250,2

In [9]:
engine.dispose() # This closes the database connection